<h1><%= @movie.title %></h2>

Year: <%= @movie.creation_year %><br/>
Genre: <%= @movie.genre %><br/>
Actors:
<% @movie.actors_alpha.each do |actor| %>
  <li><%= actor.name %>, age: <%= actor.age %></li>
<% end %><br/>
Average age of actors: <%= @movie.actors_avg_age %><br/>

<br/>Add an actor to <%= @movie.title %>:<br/>

<br/><%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |form| %>
<%= form.label :actor_id, "Actor ID:" %>
<%= form.text_field :actor_id %>
<%= form.submit "Add Actor" %>
<% end %>

