<h1>Movie Studios</h1>

<% @studios.each do |studio| %>
  <section id="studio-<%= studio.id %>">
    <h2><%= studio.name %></h2>
    Location: <%= studio.location %>

    <h3>Films:</h3>
      <% studio.movies.each do |movie| %>
        <ul><%= movie.title %>
        <li>Year: <%= movie.creation_year %></li>
        <li>Genre: <%= movie.genre %></li>
        </ul>
      <% end %>
  </section>
<% end %>